{% extends 'base.html.twig' %}

{% block title %}Afficher une facture{% endblock %}

{% block body %}
<section>
<img src="{{ asset('uploads/logos/' ~ facture.image) }}" height="100px" width="250px">
</section>
{% endblock %}
